
h1{
	text-align: center;
	text-shadow:3px 3px 5px grey;
	color:#ffcc00;
	font-size:2em;
	font-family: arial;

}
.box{
	height:300px;
	width: 600px;
	padding:15px; 
text-align:center: 
	box-shadow:5px 5px 10px ;
	background-color:#669999;
	color:WHITE;
	margin-left:350px;
	margin-top:140px;

}

body{
	background-color:hsl(172,10%,25%); 
}